//nav link under animation

@keyframes nav-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*=============================================
=            JAVA DEVELOPER ANIMATION            =
=============================================*/
@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}
@keyframes fade-text-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }

  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*=====  End of JAVA DEVELOPER ANIMATION  ======*/
// Animation
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 41%;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}

/*=============================================
=            DOWNLOAD BTN ANIMATION            =
=============================================*/
@keyframes left-move {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-350%);
  }
}
@keyframes right-move {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*=====  End of DOWNLOAD BTN ANIMATIOn  ======*/
