@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "./variables";
@import "./animatons";

* {
  font-family: "Poppins", sans-serif;
}
hr {
  border-width: 2px;
  margin: 10px 0px 0px 0px;
}
/*=============================================
=             NAVBAR SECTION _ START           =
=============================================*/
.navbar {
  padding: 30px 10px 0px 0px;
}
.navbar-collapse {
  flex-grow: 0;
}

@include media-breakpoint-up(xs) {
  .navbar-toggler {
    outline: none;
    border: none;
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
  .nav-link {
    margin-bottom: 5px;
    transition: all 0.3s;
    &:hover {
      // font-weight: bold;
      color: $primary-color;
    }
  }
}
@include media-breakpoint-up(lg) {
  // 992 above
  .nav-link {
    margin-left: 30px;
    position: relative;
    &:hover::after {
      animation: nav-anim 0.5s forwards;
    }
    &:hover {
      color: var(--bs-gray-dark);
    }
    &::after {
      content: "";
      width: 0%;
      height: 3px;
      background: $primary-color;
      position: absolute;
      left: 0;
      bottom: -5%;
      transform: scaleX(-0.85);
      border-radius: 20px;
    }
  }
}
/*=====  End of // HEADER SECTION _ END  ======*/
/*=============================================
=      JAVA DEVELOPER ANIMATION - START          =
=============================================*/
@include media-breakpoint-up(xs) {
  .rotatingText-content {
    width: 200px;
    .rotatingText-adjective {
      font-size: 20px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .rotatingText-content {
    width: 300px;
    .rotatingText-adjective {
      display: inline-block;
      font-size: 30px;
    }
  }
}
.header-text-box {
  display: flex;
  span {
    align-self: baseline;
  }
}
.rotatingText-content {
  position: relative;
  // width: 300px;
  .rotatingText-adjective {
    color: $green;
    opacity: 0;
    position: absolute;
    inset: 0;
    &:nth-of-type(1) {
      animation: rotate-text-up 1.5s 0.75s;
      animation-timing-function: ease; /* Timing function */
    }
    &:nth-of-type(2) {
      animation: rotate-text-up 1.5s 2s;
      animation-timing-function: ease; /* Timing function */
    }
    &:nth-of-type(3) {
      animation: fade-text-in 1.5s 3.25s forwards;
      animation-timing-function: ease; /* Timing function */
      animation-fill-mode: forwards; /* Retain end state of each animation */
    }
  }
}
/*=====  End of JAVA DEVELOPER ANIMATION - END  ======*/
/*=============================================
=             HEADER SECTION _ START            =
=============================================*/
/*----------  HEADER-BOX 1  ----------*/
.box-3 {
  display: flex;
  .header-icon {
    color: $success;
  }
}
@include media-breakpoint-up(xs) {
  .header-box-1 {
    order: 1;
    padding-top: 20px;
    .box-1 {
      .header-text-1 {
        font-size: 20px;
        margin-bottom: 0;
      }
      .header-text-2 {
        font-size: 40px;
        margin-bottom: 0;
      }
      .header-text-3 {
        font-size: 20px;
      }
    }
    .box-2 {
      p {
        text-align: justify;
      }
    }
    .box-3 {
      flex-direction: column;
      .box-3-1 {
        width: 60%;
        display: flex;
        .header-icon {
          font-size: 40px;
          margin-right: 60px;
          margin-bottom: 30px;
        }
        .header-btn {
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  header {
    height: 85vh;
    .header-box-1 {
      order: 0;
      height: 100%;
      padding-top: 50px;
      .box-1 {
        .header-text-1 {
          font-size: 30px;
          margin-bottom: 0;
        }
        .header-text-2 {
          font-size: 50px;
          margin-bottom: 0;
        }
        .header-text-3 {
          font-size: 30px;
          span {
            color: $success;
          }
        }
      }
      .box-2 {
        p {
          text-align: start;
        }
      }
      .box-3 {
        flex-direction: row;
        justify-content: space-between;
        .box-3-1 {
          .header-icon {
            font-size: 30px;
            margin-right: 40px;
          }
        }
      }
    }
  }
}
.box-3-2 {
  padding-bottom: 50px;
  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    transition: all 0.5s;
    overflow: hidden;

    &:hover .text {
      display: flex;
      animation: left-move 0.5s forwards;
      transition: left-move all 2s;
    }
    &:hover .icon {
      display: inline-block;
      animation: left-move 0.5s forwards;
      opacity: 1;
    }
    .text {
      animation: right-move 0.5s;
    }
    .icon {
      opacity: 0;
    }
  }
}
/*----------  HEADER-BOX 2  ----------*/
@include media-breakpoint-up(xs) {
  .img-container {
    height: 300px;
    width: 300px;
    overflow: hidden;
    .img-box-1 {
      top: 36%;
      left: 46%;
      img {
        width: 120px;
      }
    }
    .img-box-2 {
      left: 25.5%;
      top: 17%;
      img {
        width: 80px;
      }
    }
    .img-box-3 {
      left: 11%;
      top: 43%;
      img {
        //red
        width: 80px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .img-container {
    height: 450px;
    width: 450px;
    .img-box-1 {
      top: 36%;
      left: 46%;
      img {
        //white t shirt
        width: 180px;
      }
    }
    .img-box-2 {
      left: 25.5%;
      top: 17%;
      img {
        //shirt
        width: 120px;
      }
    }
    .img-box-3 {
      left: 13%;
      top: 47%;
      img {
        //red
        width: 120px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .img-container {
    height: 500px;
    width: 500px;
    .img-box-1 {
      top: 36%;
      left: 46%;
      img {
        //white t shirt
        width: 200px;
      }
    }
    .img-box-2 {
      left: 24.5%;
      top: 13%;
      img {
        //shirt
        width: 150px;
      }
    }
    .img-box-3 {
      left: 11%;
      top: 47%;
      img {
        //red
        width: 150px;
      }
    }
  }
}
.header-box-2 {
  display: flex;
  justify-content: center;

  .img-container {
    position: relative;
    .img-box {
      background: $primary-color;
      width: fit-content;
      transform: rotate(-30deg);
      position: absolute;
      box-shadow: 3px 3px 5px $black;
      overflow: hidden;
      cursor: pointer;

      &:hover img {
        background: $success;
        transition: all 0.5s;
        transform: scale(1.2);
      }
    }
  }
}
/*=====  End of HEADER SECTION _ END  ======*/

/*=============================================
=            ABOUT SECTION            =
=============================================*/
.about-section {
  height: 100vh;
}

/*=====  End of ABOUT SECTION  ======*/
